#details-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.listRightSec {
  display: flex;
  gap: 10px;
}

#details-list li:nth-child(odd){
  background-color: #4066AD;
}

#details-list li:nth-child(even){
  background-color: #3C5EA0;
}