main {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #4369b2;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.navIcon {
  font-size: 15px;
  color: #fff;
}

#rightNav {
  display: flex;
  gap: 15px;
}

#home-header {
  display: flex;
  text-align: right;
  padding: 20px 20px;
  gap: 10px;
  background-color: #5483dd;
}

.headerImg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 50%;
}

.homeImg {
  color: #34538a;
  font-size: 25px;
}

#button {
  border-radius: 5px;
  padding: 2px;
  width: fit-content;
  height: fit-content;
}

#button:hover {
  background-color: #124144;
}

#separator {
  background-color: #34538a;
  font-size: 10px;
  padding: 0 5px;
}

#home-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-list {
  display: flex;
  width: fit-content;
  max-width: 600px;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 5px;
}

#home-list li {
  /* width: 50%; */
  max-width: 300px;
  list-style: none;
  background-color: #4066ad;
}

#home-list li:nth-child(4n-3) {
  background-color: #3c5ea0;
}

#home-list li:nth-child(4n-4) {
  background-color: #3c5ea0;
}

@media (max-width: 768px) {
  #home-list {
    grid-template-columns: 1fr;
  }
}


